/* for root elemet */
* {
    margin: 0;
}
li {
    list-style: none;
}
body {
    background-color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: black;
}

/* for header */
nav {
    margin-top: 1em;
}
nav a{
    color: black;
    text-decoration: none;
}
nav ul li{
    margin-right: 20px;  
    list-style: none;  
}
nav ul,#nav_co {
    display: flex; 
    flex-direction: row;
}

#nav_co {
    right: 0%;
    position: absolute;
    top: 1.5em;
}
/* for footer */
footer {
    background-color: black;
    color: white;
    display: flex;
    padding: 5em;
    position: relative;
}

footer ol {
    right: 10em;
    position: absolute;
    font-size: x-large;
}
#fo_name{
    position:relative;
    top: 0.4em;
    font-size: 3em;
}
#fo_wrap{
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    display: flex;
}
/* main element */
main {
    position: relative;
}
#quote_wp {
    /* for positioning */
    position: absolute;
    left: 50%;
    top: 50%;
}

#quote_wp blockquote {
    background-color: black;
    color: white;
    font-size: xx-large;
    padding: 1.2em;
    border-radius: 10px;
}